let mapleader=" "

set keep-english-in-normal
set clipboard=unnamed
set showmode

noremap ; :

noremap Q :action CloseContent<CR>
noremap <C-S-Q> :action CloseProject<CR>
noremap <C-S-S> :action RecentProjectListGroup<CR>
noremap <C-A-S-Q> :action Exit<CR>

noremap / :action Find<CR>

noremap <leader>sl :action MoveTabRight<CR>
noremap <leader>sj :action MoveTabDown<CR>
noremap <leader>sk :action SplitHorizontally<CR>
noremap <leader>sh :action SplitVertically<CR>
noremap <leader>ss :action MoveEditorToOppositeTabGroup<CR>

noremap <leader>fj :action Android.BuildApk<CR>
noremap <leader>fk :action Android.GenerateSignedApk<CR>
noremap <leader>fl :action Android.SyncProject<CR>
noremap <leader>fe :action Gradle.ExecuteTask<CR>
noremap <leader>fr :action Run<CR>

noremap <leader>cn :action CloseAllNotifications<CR>
noremap <leader>cm :action HideAllWindows<CR>

noremap tj :action NextTab<CR>
noremap tk :action PreviousTab<CR>

noremap gf :action GotoImplementation<CR>
